.rectangle_container {
  grid-column: 1/-1;
  height: 100%;
  width: 100%;
  margin-top: 124px;
  margin-bottom: 124px;
  background-color: transparent;
}

.skew_container {
  background-image: linear-gradient(75deg, #bd1717, #c91818);
  clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);

  text-align: center;
}

.sub_heading {
  margin: 0 auto;
  font-size: 64px;
  width: 75%;
  padding: 200px;
  color: white;
  font-family: orbitron, sans-serif;
  font-weight: 100;
}
