@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Jura;
}

.margin_big {
  padding-bottom: 100px;
}
