.footer {
  width: 100%;
  background-image: linear-gradient(75deg, #000000, #000d30);
  color: white;
  text-align: center;
  font-family: Jura, sans-serif;
}

.ul {
  list-style: none;

  font-size: 48px;
  color: white;
  margin-left: 82px;
  margin-right: 82px;
  padding-top: 124px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.li1 {
  font-weight: 500;
}

.li2,
.li3 {
  font-weight: 100;
}

.follow {
  margin-top: 124px;
  font-size: 36px;
  font-weight: 100;
}

.img_wrapper {
  width: 33%;
  margin: 0 auto;
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 92px;
}
