.introwrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    height: calc(100vh - 120px);
    margin-left: 82px;
    margin-right: 82px;

}

.leftside {
    grid-column: 1/9;

    display: flex;
    flex-direction: column;
    justify-content: center;



}

.rightside {
    grid-column: 9/13;
}

.leftside h1 {
    font-family: Orbitron;
    font-size: 92px;
    font-weight: 100;


}

.leftside span {
    font-family: Orbitron;
    font-size: 92px;
    font-weight: 700;
}

.leftside p {

    font-family: Jura;
    color: #BD1717;

    opacity: 0.80;
    font-size: 48px;
    font-weight: 100;
    margin-bottom: 120px;
    position: relative;
    left: 3px;
    bottom: 18px;

}

.boxwrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    grid-column: 9/12;

}

.rbwrapper{
    position: relative;
    bottom: 60px;

}

.blackbox {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 24px;
    background-color: black;
    width: 87.5%;
    height: 300px;
}

.redbox {
    background-color: #BD1717;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top:0;
    left:24px;
    width: 87.5%;
    height: 300px;

}

.redbox ul{
    list-style: none;
    font-family: Jura;
    font-size: 32px;
    color: white;
    opacity: 0.90;
    margin-top: 8px;
    margin-left: 24px;
}

.redbox a{
    align-self: flex-end;
    font-family: Jura;
    font-size: 32px;
    text-decoration: underline;
    margin-bottom: 16px;
    margin-right: 24px;
    color: white;
    opacity: .90;
}




.circle{
    position: absolute;
    transition: all 2s ease;
}