// .global_wrapper {
//   // display: grid;
//   // grid-template-columns: 82px repeat(12, 1fr) 82px;
//   // grid-template-rows: 1fr;
// }

.main_wrapper {
  display: grid;
  grid-template-columns: 82px repeat(12, 1fr) 82px;
  grid-template-rows: 1fr;
}
